*{
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background:linear-gradient(270deg,#511f79dc,#1caca5e0);
}
h1{
    margin-top: 20px;
    text-align: center;
}
.form{
   border: 2px solid black;
    background:transparent;
    border-radius: 40px;
    padding: 35px;
    margin: 15px 100px ;
    max-width:100%;
}
.in-ctrl{
    margin: 12px;
    padding-bottom: 8px;
    position: relative;
}
.in-ctrl label{
    display: inline-block;
}
.in-ctrl input{
    margin-top: 4px ;
    margin-bottom: 4px;
    border: 1px solid;
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}
button{
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    height: 40px;
    width:30%;
    border-radius: 5px;
    
}
.in-ctrl i{
    position:absolute;
    top:30px;
    right: 10px;
    visibility: hidden;
}
.in-ctrl small{
    visibility: hidden;
    position: absolute;
}
.in-ctrl.success input{
    border-color: green;
}
.in-ctrl.success i.fa-circle-check{
    visibility: visible;
    color: green;
}
.in-ctrl.error input{
    border-color: red;
}
.in-ctrl.error i.fa-circle-exclamation{
    visibility: visible;
    color: red;
}
.in-ctrl.error small{
    color:red;
    visibility: visible;
}
#db{
    margin-top: 12px;
}

@media only screen and (max-width: 600px) {
    .form {
        margin: 15px 10px;
    }

    button {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 600px;
    }
    .form{
        align-content: center;
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        max-width: 800px; 
    }
}
html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.popup{
    width: 400px;
    background: white;
    position: absolute;
    top: 0;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%,-50%)scale(0.2);
    text-align: center;
    padding: 10px;
}
#clr{
    background-color: green;
}
.submitpopup{
    transform: translate(-50%,-50%)scale(1);
    visibility: visible;
    top:50%;
}